<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Projekt - strona główna</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
    </head>
    <body>
         <p>
                <b>
                    <span th:text='|${CarManufacturer.id} ${CarManufacturer.name}|'></span>
                </b>
         </p>
        <p>
                <b>
                    <span th:text='|${CarModel.id} ${CarModel.name}|'></span>
                </b>
         </p>
    </body>
</html>
