<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
    <head>
        <title>Lista ofert</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style>
            .error { background-color: pink }
        </style>

    </head>
    <body>
        <section layout:fragment="content">
            <div id="offerFilter" class="panel panel-default">
                <div class="panel-heading">Szukaj ofert</div>
                <div class="panel-body">
                    <form th:object="${offerFilter}" id="offerFilterForm" action="/" method="get" class="form-inline">
                        <select class="form-control" th:field="*{manufacturerId}">
                            <option value="">Marka</option>
                            <option th:each="manufacturer : ${carManufacturers}" th:value="${manufacturer.id}" th:text="${manufacturer.name}"></option>
                        </select>
                        <select th:if="${carModelsofProducent != null}" class="form-control" th:field="*{modelId}">
                            <option value="">Model</option>
                             <option th:each="cars : ${carModelsofProducent}" th:value="${cars.id}" th:text="${cars.name}"></option>
                        </select>
                        Rok od:<input type="number" class="form-control" th:field="*{yearFrom}"></input>
                        Rok do:<input type="number" class="form-control" th:field="*{yearTo}"></input>
                        <select class="form-control" th:field="*{fuelId}">
                            <option value="">Rodzaj paliwa</option>
                            <option th:each="fuel : ${fuelTypes}" th:value="${fuel.id}" th:text="${fuel.name}"></option>
                        </select>
                        <br>Podaj fragment opisu:<textarea class="form-control" th:field="*{description}" rows="2" cols="75"/></textarea><br>
                        <input type="submit" value="Filtruj" class="form-control"/>
                    </form>
                </div>
            </div>
            <table class="table">
        <tr>
            <th>Tytuł</th>
            <th>Marka</th>
            <th>Model</th>
            <th>Rocznik</th>
            <th>Cena</th>
            <th></th>
        </tr>
        <tr th:each="offer : ${offers}">
            <td th:text="${offer.title}"></td>
            <td th:text="${offer.model.manufacturer.name}"></td>
            <td th:text="${offer.model.name}"></td>
            <td th:text="${offer.year}"></td>
            <td class="text-right">
        <span th:text="${#numbers.formatDecimal(offer.price, 0, 'WHITESPACE', 0,'COMMA')}"></span>
        zł
    </td>
            <td><a th:href="|/offer/${offer.id}|">Pokaż</a></td>
            
        </tr>
    </table>
            Liczba ofert:<span th:text="${liczbawyn}">2</span>
            Liczba rekordów na stronę:<span>20</span>
            <br><span>Strona:</span>
            <div  class="pagination"
    th:each="pageNumber : ${liczbastron}">
    <a th:href="@{/(size=${liczbawyn}, page=${pageNumber},description=${description},fuelId=${fuell},manufacturerId=${manufa},yearFrom=${yf},yearTo=${yt},modelId=${moodel})}"
        th:text=${pageNumber}
        th:class="${page==pageNumber } ? error"></a>
</div>
        </section>
    </body>
</html>